<p id="notice"><%= notice %></p>

<h1>Litter</h1>
<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-success btn-lg" %>

<center>
<% @tweets.each do |tweet| %>
<div class="jumbotron" style="max-width: 400px">
  <p><%= tweet.body %></p>
  <h5>Posted by <%= tweet.user %></h5>
</div>
<% end %>
</center>

<br>

